@font-face {
    font-family: 'bpg_nino_mtavruli_bold';
    src: url('/costum/fonts/bpg_nino_mtavruli_bold.eot');
    src: url('/costum/fonts/bpg_nino_mtavruli_bold.eot') format('embedded-opentype'),
         url('/costum/fonts/bpg_nino_mtavruli_bold.woff2') format('woff2'),
         url('/costum/fonts/bpg_nino_mtavruli_bold.woff') format('woff'),
         url('/costum/fonts/bpg_nino_mtavruli_bold.ttf') format('truetype'),
         url('/costum/fonts/bpg_nino_mtavruli_bold.svg#bpg_nino_mtavruli_bold') format('svg');
}
body{
	font-family: bpg_nino_mtavruli_bold;
}